[submodule "JikuG/vendor/spdlog"]
	path = JikuG/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JikuG/vendor/GLFW"]
	path = JikuG/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
